<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <meta charset="utf-8">
<style>
BODY {FONT-SIZE: 11pt; CURSOR: default}
TABLE {FONT-SIZE: 11pt; CURSOR: default}
H3 {FONT-WEIGHT: bold; FONT-SIZE: 13pt; TEXT-ALIGN: center}
</style>
<title>Школа</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
  <link rel="stylesheet" href="../../static/assets/css/style-starter.css">
<header class="w3l-header">
	<div class="hero-header-11">
		<div class="hero-header-11-content">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light py-md-2 py-0 px-0">
					<a class="navbar-brand" href = "{% url 'home' %}"><img src="../../static/assets/images/снимок.png" alt="" /></a>
					<!-- if logo is image enable this
				<a class="navbar-brand" href="#index.html">
						<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
				</a> -->
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
						<span class="navbar-toggler-icon fa icon-close fa-times"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href = "{% url 'new3' %}">Мой дневник</a>
							</li>
							<li class="nav-item @@contact-active">
								<a class="nav-link" href="{% url 'new' %}">Информация о школе</a>
							</li>

							<li class="nav-item @@contact-active">
								<a class="nav-link" href="{% url 'landing' %}">Поддержка</a>
							</li>
							<li class="nav-item @@contact-active">

                                 {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout_url' %}">Выйти</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'new2' %}">Войти</a>
                    {% endif %}

							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
</head>
<body vLink=#0000ff link=#0000ff bgcolor="#FFFFFF" text="#000000">

<center>

  <TABLE border=0  cellPadding=0 cellSpacing=1 width=970  bgcolor="#3659a5">
     <tr>
      <td  align="center" colspan="4" bgcolor="#ff8f07">
		<table border=0><tr>
		<td width=290>
		<p>&nbsp;</p></td>
		<td width=428>
		<p>&nbsp;</p> {% for ose8 in ose7 %}
		<h3>Расписание уроков {{ ose8.CLASS }} класса,
            на 2-8 апреля<br></h3>
            {% endfor %}
		</td><td width=290  valign="top">
        <p  align="right">
		<br>
		</p>
		</td></tr></table>
      </td>
      </tr>
    <tr width=970 bgcolor="#ffffff"  align="left">
      <td width="30"><p align="center"><b><i> п/п </i></b></p></td>
      <td width="120"><p> <b><i>&nbsp;&nbsp;Предмет</i></b> </p></td>
      <td width="695"><p> <b><i>&nbsp;&nbsp;Задание</i></b> </p></td>
      <td width="120"><p> <b><i>&nbsp;&nbsp;Оценка</i></b> </p></td>
      </tr>
	  <tr bgcolor="#ff8f07">
      <td  align="center" colspan="4">
        <b>Понедельник</b>
      </td>
      </tr>
      {% for ose1 in ose %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}
	  <tr bgcolor="#ff8f07">
      <td align="center" colspan="4">
        <b>Вторник</b>
      </td>
      </tr>{% for ose1 in ose1 %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}
	  <tr bgcolor="#ff8f07">
      <td  align="center" colspan="4">
        <b>Среда</b>
      </td>
      </tr>
  {% for ose1 in ose2 %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}
	  <tr bgcolor="#ff8f07">
      <td  align="center" colspan="4">
        <b>Четверг</b>
      </td>
      </tr>{% for ose1 in ose3 %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}
	  <tr bgcolor="#ff8f07">
      <td  align="center" colspan="4">
        <b>Пятница</b>
      </td>
      </tr>{% for ose1 in ose4 %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}
	  <tr bgcolor="#ff8f07">
      <td  align="center" colspan="4">
        <b>Суббота</b>
      </td>
      </tr>{% for ose1 in ose5 %}
    <tr width=970 bgcolor="#ffffff"  align="left">      <td><p align="center"> {{ ose1.subject_schedule.lesson_number }}</p></td>

      <td><p>  {{  ose1.name }} </p></td>
      <td><p> Тут должно быть домашнее задание </p></td>
      <td><p align="center"> {{  ose1.subject_marks.mark}}</p></td>
      </tr>

    {% endfor %}

  </TABLE>
  </center>
</body>
</html>
 <footer class="w3l-footer-29-main" id="footer" style="padding-top: 300px">
     <div class="footer-29 py-5">
       <div class="container pb-lg-3">
         <div class="row footer-top-29">
           <div class="col-lg-4 col-md-6 footer-list-29 footer-1 mt-md-4">
             <a class="footer-logo mb-md-3 mb-2" alt="" />Наши контакты</a>
							<h4>Адрес:</h4>
							<p>Россия, г.Kaзань, ул. Абдуллы Бичурина 22</p>
						</div>
					</div>
					<div class="contact-info">
						<div class="icon">
							<span class="fa fa-phone" aria-hidden="true"></span>
						</div>
						<div class="contact-details">
							<h4>Телефон:</h4>
							<p><a href="tel:+598-658-456">+7(855)-232-56-98</a></p>
							<p><a href="tel:+598-658-457">+7(855)-232-56-98</a></p>
						</div>
					</div>
					<div class="contact-info">
						<div class="icon">
							<span class="fa fa-envelope-open-o" aria-hidden="true"></span>
						</div>
						<div class="contact-details">
							<h4>Почта:</h4>
							<p><a href="mailto:mail@example.com" class="email">info@teach.com</a></p>
							<p><a href="mailto:mail@example.com" class="email">teach@support.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
             </ul>
           </div>

         </div>
       </div>
     </div>


     <!-- move top -->

     <script>
       // When the user scrolls down 20px from the top of the document, show the button
       window.onscroll = function () {
         scrollFunction()
       };

       function scrollFunction() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
           document.getElementById("movetop").style.display = "block";
         } else {
           document.getElementById("movetop").style.display = "none";
         }
       }

       // When the user clicks on the button, scroll to the top of the document
       function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
       }
     </script>
     <!-- /move top -->

   </footer>
