{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-content">
    <div class="nesolestag-enadenud" style="padding-top: 40px">
  <h3 style="text-align:center;">Контакты</h3>

  <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title" style="padding-top: 20px">Юридический адрес:</h4>
  <div class="aio-icon-description">
  3486452, г. Тюмень, ул. Ленина,
  <br>дом 14, литер D, Кабинет # 31</div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title" style="padding-top: 20px">Звонки принимаются:</h4>
  <div class="aio-icon-description">
  пн.-сб. с 10:00 до 18:00
  </div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap">
  <i class="fa fa-envelope ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title" style="padding-top: 20px">Электронная почта:</h4>
  <div class="aio-icon-description">
  sea.House@mail.ru
  <br>shamseev98@mail.ru</div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap">
  <i class="fa fa-phone ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title"style="padding-top: 20px">Связь по телефону:</h4>
  <div class="aio-icon-description">
  8 (800) 555-35-35
  </div>
  </div>

  <span class="kesednsoled"></span>

</div>
        <h3 style="text-align: center">Если у вас есть какие-то вопросы, пожалуйста, не стесняйтесь и напишите мне.<br>
            Если вы не получили немедленный ответ, это значит, что я путешествую где-то у черта<br>
            на куличках. Я отвечу, как только смогу. Обещаю!</h3>
    </div>
{% endblock %}